section#implantationChance {
	.designation-num {
		width: auto;
		padding: 10px 19px;
	}
	.percentage-table {
		margin-top: 35px;
	}
}
.circle-items-line-wrapper {
	width: 89%;
	margin-left: 113px;
	position: relative;
	display: block;
	float: left;
	.circle-item {
		margin-right: 48px;
		float: left;
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 12px;
		line-height: 17px;
		&:before {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			border-radius: 7.5px;
			position: relative;
			top: 2px;
			left: 2px;
			margin-right: 8px;
			box-shadow: 0 2px 4px 0 rgba(98,98,98,0.5);
		}
		&__green:before {
			background-color: #4DDD89;
		}
		&__orange:before {
			background-color: #FFBD77;
		}
		&__yellow:before {
			background-color: #F9CA20;
		}
		&__brown:before {
			background-color: #956F1D;
		}
		&__red:before {
			background-color: #E85B5F;
		}
	}
}

.stage-of-dev {
	color: #A1A1A1;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	display: inline-block;
	float: left;
	margin-top: 30px;
	width: 6%;
	padding: 0;
	min-width: 113px;
	text-align: left;
}

table.impl-chance-table {
	margin-top: 14px;
	tbody {
		tr {
			td {
				position: relative;
				height: 75px;
				padding: 0;
				&:first-child {
					width: 6%;
					min-width: 113px;
				}
			}
		}
		.embryo {
			position: absolute;
			top: 0;
			z-index: 3;
			height: 60px;
			width: 60px;
			padding: 0;
			transition: all 0.25s;
			&:hover{
				z-index: 10;
			}
			.text {
				border-radius: 4px;
				box-shadow: 0 2px 4px 0 rgba(98,98,98,0.5)!important;
				div {
					font-size: 19px;
					line-height: 26px;
				}
			}
			&.normal, &.collapses, &.delayed {
				.text div {
					color: rgba(0,0,0,0.35);
				}
			}
			&.low, &.degenerated {
				.text div {
					color: rgba(255,255,255,0.75);
				}
			}
		}
	}
}
