
.embryo-stage-selection-container {
	margin-bottom: 80px;
	.header-box {
		padding-top: 30px;
		padding-bottom: 23px;
		.l-h {
			line-height: 27px;
		}
		[data-tooltip]:after,
		[data-tooltip]:before {
			text-align: center;
			left: 0;
			transform: translateY(-6px);
		}
		[data-tooltip][data-tooltip-large]::after {
			padding: 10px;
		}
		.animation-jumping.tooltip-bottom.tooltip-top__large::after {
			transform: translateY(6px) !important;
			width: 175px;
		}
		.animation-jumping.tooltip-bottom.tooltip-top__large::before {
			position: relative;
			top: 14px;
			left: -7px;
			transform: translateX(15px);
			display: inline-block;
		}
	}

	.close-training-button {
		color: #9A9A9A;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
		transition: color 0.25s ease-in-out;
		.arrow-right-icon {
			margin-right: 10px;
			transition: stroke 0.25s ease-in-out;
		}
		svg g {
			transition: stroke 0.25s ease-in-out;
		}
		&:hover {
			color: #555459;
			text-decoration: none;
			svg g {
				stroke: #555459;
			}
		}
	}

	.right-status-wrapper {
		span {
			color: #4A4A4A;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			display: inline-block;
			margin-left: 40px;
			.embryo-training-icon-wrapper,
			.arrow-down-graph-wrapper {
				display: inline-block;
				position: relative;
				top: 5px;
				left: -10px;
				svg {
					width: 21px;
					height: 21px;
					path, g {
						transition: all 0.5s ease-in-out;
					}
				}
			}
			.embryo-training-icon-wrapper {
				opacity: 0.6;
			}
		}
		.tooltip-bottom::before {
			position: relative;
			top: 5px;
		}
	}

	.training-question-box {
		margin-bottom: 25px;
	}
}
