{layout @layout.latte}

<link n:block="head" rel="stylesheet" href="{webpack login.css}" crossorigin="anonymous">
<script n:block="scripts" src="{webpack login.js}" crossorigin="anonymous"></script>

{block header}
	{* TODO: login layout header (up to content container opening tag) *}
	{include flashes flashes => $flashes}
{/block}

{block footer}
	{* TODO: login layout footer (down from content container closing tag) *}
	<div n:ifcontent class="footer-link">
		{block footerLink /}
	</div>
{/block}
