
.training-requirements-container .training-embryos-accuracy-container .legend-success-wrapper .pseudo-info-tooltip {
	margin-top: -72px;
	margin-left: -140px;
	min-width: 407px;
	min-height: 0;
	height: auto;
}

.info-wrapper.legend-success-wrapper .pseudo-info-tooltip .item-type-wrapper:first-child {
	padding-top: 23px;
	padding-bottom: 23px;
}
