$cluster-default-color: #A1A1A1;

$cluster-color-1aa: #2BC54C;
$cluster-color-1ab: #30C24B;
$cluster-color-1ba: #48AF3F;
$cluster-color-1bb: #52A73A;
$cluster-color-1bc: #609D34;
$cluster-color-1ca: #728E2B;
$cluster-color-1da: #96711A;

$cluster-color-2aa: #34BD47;
$cluster-color-2ab: #3BB945;
$cluster-color-2ac: #43B241;
$cluster-color-2ba: #4DAA3C;
$cluster-color-2bb: #5BA036;
$cluster-color-2bc: #649932;
$cluster-color-2ca: #768B29;
$cluster-color-2da: #9B6E17;

$cluster-color-3aa: #56A539;
$cluster-color-3ba: #689630;
$cluster-color-3ca: #808325;
$cluster-color-3da: #9F6A15;

$cluster-color-4aa: #6D922E;
$cluster-color-4ba: #7B8727;
$cluster-color-4ca: #887C20;
$cluster-color-4da: #A46613;

$cluster-color-5aa: #837F22;
$cluster-color-5ca: #8D781E;
$cluster-color-5da: #A96311;

$cluster-color-6aa: #92741B;
$cluster-color-6ca: #AD5F0E;
$cluster-color-6da: #B25C0D;

$cluster-color-7d: #B8580A;

$cluster-color-8d: #BB5408;

.cluster-default-bg-color {
	background-color: $cluster-default-color;
}


.cluster-color-1aa {
	color: $cluster-color-1aa;
}

.cluster-bg-color-1aa {
	background-color: $cluster-color-1aa;
}


.cluster-color-1ab {
	color: $cluster-color-1ab;
}

.cluster-bg-color-1ab {
	background-color: $cluster-color-1ab;
}


.cluster-color-1ba {
	color: $cluster-color-1ba;
}

.cluster-bg-color-1ba {
	background-color: $cluster-color-1ba;
}


.cluster-color-1bb {
	color: $cluster-color-1bb;
}

.cluster-bg-color-1bb {
	background-color: $cluster-color-1bb;
}


.cluster-color-1bc {
	color: $cluster-color-1bc;
}

.cluster-bg-color-1bc {
	background-color: $cluster-color-1bc;
}


.cluster-color-1ca {
	color: $cluster-color-1ca;
}

.cluster-bg-color-1ca {
	background-color: $cluster-color-1ca;
}


.cluster-color-1da {
	color: $cluster-color-1da;
}

.cluster-bg-color-1da {
	background-color: $cluster-color-1da;
}



.cluster-color-2aa {
	color: $cluster-color-2aa;
}

.cluster-bg-color-2aa {
	background-color: $cluster-color-2aa;
}


.cluster-color-2ab {
	color: $cluster-color-2ab;
}

.cluster-bg-color-2ab {
	background-color: $cluster-color-2ab;
}


.cluster-color-2ac {
	color: $cluster-color-2ac;
}

.cluster-bg-color-2ac {
	background-color: $cluster-color-2ac;
}


.cluster-color-2ba {
	color: $cluster-color-2ba;
}

.cluster-bg-color-2ba {
	background-color: $cluster-color-2ba;
}


.cluster-color-2bb {
	color: $cluster-color-2bb;
}

.cluster-bg-color-2bb {
	background-color: $cluster-color-2bb;
}


.cluster-color-2bc {
	color: $cluster-color-2bc
}

.cluster-bg-color-2bc {
	background-color: $cluster-color-2bc
}


.cluster-color-2ca {
	color: $cluster-color-2ca;
}

.cluster-bg-color-2ca {
	background-color: $cluster-color-2ca;
}


.cluster-color-2da {
	color: $cluster-color-2da;
}

.cluster-bg-color-2da {
	background-color: $cluster-color-2da;
}




.cluster-color-3aa {
	color: $cluster-color-3aa;
}

.cluster-bg-color-3aa {
	background-color: $cluster-color-3aa;
}


.cluster-color-3ba {
	color: $cluster-color-3ba;
}

.cluster-bg-color-3ba {
	background-color: $cluster-color-3ba;
}


.cluster-color-3ca {
	color: $cluster-color-3ca;
}

.cluster-bg-color-3ca {
	background-color: $cluster-color-3ca;
}


.cluster-color-3da {
	color: $cluster-color-3da;
}

.cluster-bg-color-3da {
	background-color: $cluster-color-3da;
}



.cluster-color-4aa {
	color: $cluster-color-4aa;
}

.cluster-bg-color-4aa {
	background-color: $cluster-color-4aa;
}


.cluster-color-4ba {
	color: $cluster-color-4ba;
}

.cluster-bg-color-4ba {
	background-color: $cluster-color-4ba;
}


.cluster-color-4ca {
	color: $cluster-color-4ca;
}

.cluster-bg-color-4ca {
	background-color: $cluster-color-4ca;
}


.cluster-color-4da {
	color: $cluster-color-4da;
}

.cluster-bg-color-4da {
	background-color: $cluster-color-4da;
}



.cluster-color-5aa {
	color: $cluster-color-5aa;
}

.cluster-bg-color-5aa {
	background-color: $cluster-color-5aa;
}


.cluster-color-5ca {
	color: $cluster-color-5ca;
}

.cluster-bg-color-5ca {
	background-color: $cluster-color-5ca;
}


.cluster-color-5da {
	color: $cluster-color-5da;
}

.cluster-bg-color-5da {
	background-color: $cluster-color-5da;
}



.cluster-color-6aa {
	color: $cluster-color-6aa;
}

.cluster-bg-color-6aa {
	background-color: $cluster-color-6aa;
}


.cluster-color-6ca {
	color: $cluster-color-6ca;
}

.cluster-bg-color-6ca {
	background-color: $cluster-color-6ca;
}


.cluster-color-6da {
	color: $cluster-color-6da;
}

.cluster-bg-color-6da {
	background-color: $cluster-color-6da;
}



.cluster-color-7d {
	color: $cluster-color-7d;
}

.cluster-bg-color-7d {
	background-color: $cluster-color-7d;
}


.cluster-color-8d {
	color: $cluster-color-8d;
}

.cluster-bg-color-8d {
	background-color: $cluster-color-8d;
}

.embryos-row-cluster-inner-container {
	&.cluster-color-1aa:after {
		background: $cluster-color-1aa;
	}

	&.cluster-color-1ab:after {
		background: $cluster-color-1ab;
	}

	&.cluster-color-1ba:after {
		background: $cluster-color-1ba;
	}

	&.cluster-color-1bb:after {
		background: $cluster-color-1bb;
	}

	&.cluster-color-1bc:after {
		background: $cluster-color-1bc;
	}

	&.cluster-color-1ca:after {
		background: $cluster-color-1ca;
	}

	&.cluster-color-1da:after {
		background: $cluster-color-1da;
	}

	&.cluster-color-2aa:after {
		background: $cluster-color-2aa;
	}

	&.cluster-color-2ab:after {
		background: $cluster-color-2ab;
	}

	&.cluster-color-2ac:after {
		background: $cluster-color-2ac;
	}

	&.cluster-color-2ba:after {
		background: $cluster-color-2ba;
	}

	&.cluster-color-2bb:after {
		background: $cluster-color-2bb;
	}

	&.cluster-color-2bc:after {
		background: $cluster-color-2bc
	}

	&.cluster-color-2ca:after {
		background: $cluster-color-2ca;
	}

	&.cluster-color-2da:after {
		background: $cluster-color-2da;
	}

	&.cluster-color-3aa:after {
		background: $cluster-color-3aa;
	}

	&.cluster-color-3ba:after {
		background: $cluster-color-3ba;
	}

	&.cluster-color-3ca:after {
		background: $cluster-color-3ca;
	}

	&.cluster-color-3da:after {
		background: $cluster-color-3da;
	}

	&.cluster-color-4aa:after {
		background: $cluster-color-4aa;
	}

	&.cluster-color-4ba:after {
		background: $cluster-color-4ba;
	}

	&.cluster-color-4ca:after {
		background: $cluster-color-4ca;
	}

	&.cluster-color-4da:after {
		background: $cluster-color-4da;
	}

	&.cluster-color-5aa:after {
		background: $cluster-color-5aa;
	}

	&.cluster-color-5ca:after {
		background: $cluster-color-5ca;
	}

	&.cluster-color-5da:after {
		background: $cluster-color-5da;
	}

	&.cluster-color-6aa:after {
		background: $cluster-color-6aa;
	}

	&.cluster-color-6ca:after {
		background: $cluster-color-6ca;
	}

	&.cluster-color-6da:after {
		background: $cluster-color-6da;
	}

	&.cluster-color-7d:after {
		background: $cluster-color-7d;
	}

	&.cluster-color-8d:after {
		background: $cluster-color-8d;
	}

}
