@import '~bootstrap/scss/bootstrap';
@import 'animations/animations';
@import 'app-variables';
@import 'sexy-checkboxes-radio';
@import 'two-sided-arrow';
@import 'color-classes';
@import 'fonts';
@import 'forms';
@import 'parts/scroll-bar';

// global styles for desktop application

body {
	background-color: #F7F7F7;
	height: 100%;
	min-height: 100%;
	font-family: "Open Sans";
	padding-top: 50px;
	-webkit-font-smoothing: antialiased;
}

select {
	-moz-appearance: none;
}

select::-ms-expand {
	display: none;
}

.sexy-checkbox-radio-wrapper .tree-view {
	overflow-y: visible;
}

.no-padding {
	padding: 0 !important;
}

.vertical-divider {
	border-left: 1px solid #CACACA;
	height: 30px;
	display: inline-block;
	position: relative;
	top: 4px;
}

.tooltip-custom .tooltiptext {
	visibility: hidden;
	width: 110px;
	height: 20px;
	background-color: #EEEEEE;
	box-shadow: 0 0 4px 0 rgba(93,93,93,0.5);
	border-radius: 6px;
	position: absolute;
	top: 100%;
	margin-left: -45px;
	z-index: 101;
	color: #000000;
	font-family: "Open Sans";
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}

.tooltip-custom:hover .tooltiptext {
	visibility: visible;
}

.tooltip-netvor:after {
	background-color: #4A4A4A;
	// TO-DO stin prekryva sipku - vyresit
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;
}


a {
	text-decoration: none;
	cursor: pointer;
	color: #555459;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}

p {
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	line-height: 23px;
}

h1 {
	color: #4A4A4A;
	font-family: "Open Sans";
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}

.btn {
	border-radius: 27px;
	background-color: #EB8446;
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.14);
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	&.small {
		height: 42px;
		line-height: 42px;
	}
	&-transparent {
		background-color: transparent;
		border: 1px solid #F3A16A;
		color: #F3A16A !important; // due to wierd file reboot_scss having this style: a:not([href]):not([tabindex])
		&:hover {
			color: white !important; // due to reboot_scss
			background-color: #F3A16A;
		}
	}
	&-orange {
		background-color: #F3A16A;
		color: #FFFFFF !important; // due to reboot_scss
		&:hover {
			color: white !important; // due to reboot_scss
			background-color: #f7aa77;
		}
	}
}

.arrow-right-icon svg:hover > g > g {
	stroke: #6E6E6E;
	transition: 0.15s;
}

.active-color {
	color: #F3A16A;
}
