@import '~bootstrap/scss/bootstrap';

body {
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
}

h1 {
	font-size: 34px;
	font-weight: 600;
	line-height: 27px;
	color: #454545;
	margin-bottom: 43px;
	&::after {
		content: " ";
		position: relative;
		display: block;
		bottom: -13px;
		width: 100px;
		height: 2px;
		background-color: #F78629;
	}
}

p {
	color: #7F7F7F;
	font-size: 14px;
	line-height: 22px;
}

hr {
	border-top: 1px solid #DFDFDF;
	margin: 13px 0;
}

.btn {
	font-weight: bold;
	text-align: center;
	&.btn-orange {
		border-radius: 30px;
		background-color: #F78629;
		color: #FFFFFF;
		&:hover {
			background-color: #D06309;
		}
	}
	&.btn-regi {
		padding: 0;
		text-transform: uppercase;
		width: 184px;
		font-size: 18px;
		line-height: 58px;
	}
}

.left-col {
	position: relative;
	width: 288px;
	min-height: 100vh;
	> div {
		width: 100%;
		display: block;
	}
	&::after {
		content: " ";
		position: absolute;
		display: block;
		height: 100%;
		width: 20px;
		top: 0;
		right: 0;
		box-shadow: inset -4px 0px 10px -6px #000000;
		opacity: 0.2;
	}
	.head {
		background-color: #F78629;
		color: white;
		padding: 30px 20px 10px 20px;
		height: 155px;
	}
	.progress-desc {
		opacity: 0.7;
		font-size: 12px;
		font-weight: 600;
		line-height: 17px;
	}
	.progress-bar {
		position: relative;
		height: 4px;
		width: 100%;
		display: block;
		border-radius: 2px;
		overflow: hidden;
		background-color: rgba(255,255,255,0.3);
		margin-bottom: 2px;
		span {
			position: absolute;
			height: 4px;
			width: 100%;
			background-color: #FFFFFF;
			top: 0;
			border-radius: 2px;
			transition: all .3s ease;
		}
	}
}

.logo-wrap {
	margin-bottom: 40px;
	div {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10.63px;
		font-size: 30px;
		font-weight: 300;
		line-height: 25px;
		width: 99px;
		strong {
			font-weight: 600;
		}
	}
}

.navigation {
	background-color: #F5F5F5;
	color: #484848;
	font-size: 15px;
	font-weight: 600;
	padding: 15px 0;
	height: calc(100% - 155px);
	.nav-title {
		font-size: 12px;
		font-weight: bold;
		line-height: 17px;
		text-transform: uppercase;
		border-bottom: 1px solid #DFDFDF;
		margin: 0 20px;
		margin-bottom: 8px;
		padding-bottom: 3px;
	}
	a {
		position: relative;
		display: block;
		color: #A1A1A1;
		border-left: 4px solid transparent;
		line-height: 27px;
		padding: 12px 20px 12px 16px;
		transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
		&:hover {
			text-decoration: none;
			color: #454545;
		}
		&.visited:not(.active)::after {
				content: " ";
				position: absolute;
				display: inline-block;
				height: 9px;
				width: 13px;
				background-color: transparent;
				border: 3px solid #61B945;
				border-top: 0;
				border-right: 0;
				right: 20px;
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		&.active {
			background-color: #F2EDED;
			border-left-color: #F78629;
			color: #454545;
			&::after {
				content: " ";
				position: absolute;
				display: inline-block;
				height: 14px;
				width: 14px;
				background-color: #D8D8D8;
				border-radius: 50%;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		+ .nav-title {
			margin-top: 20px;
		}
	}
}

.content {
	padding: 0;
	.head {
		width: 100%;
		max-width: 1100px;
		padding: 44px 54px 0 54px;
		margin-bottom: 30px;
		> p {
			padding-right: 7%;
			margin: 0;
			margin-bottom: 1rem;
			text-align: justify;
		}
		.img {
			float: left;
			height: 200px;
			width: 200px;
			overflow: hidden;
			margin-right: 46px;
			background-color: grey;
			+ p {
				padding-right: 0;
			}
			img {
				height: 100%;
			}
		}
		.btn-white.right {
			float: right;
			height: 39px;
			margin-right: 7%;
			border-radius: 4px;
			background-color: #FFFFFF;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
			color: #454545;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0.11px;
			line-height: 19px;
			padding: 10px 12px;
			.icon-graph-three-wrapper {
				display: inline-block;
				margin-right: 11px;
			}
		}
	}
	.box {
		padding: 0 54px 30px 54px;
		max-width: 1100px;
		width: 100%;
		.box {
			margin: 0 auto;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.fix-w {
		max-width: 1100px;
		width: 100%;
	}
	.full {
		display: block;
		width: 100%;
		hr {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	.row-item {
		margin: 43px 0;
		width: 100%;
		display: block;
	}
}

.box-group {
	display: flex;
	flex-wrap: wrap;
	> div {
		margin: 0 20px 20px 0;
	}
	&.links {
		> div {
			cursor: pointer;
		}
	}
}

.sh-box {
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	width: 100%;
	display: block;
	border-radius: 4px;
	margin-bottom: 25px;
	&.info-wrap {
		width: 30%;
		max-width: 307px;
		padding: 10px 20px 8px 10px;
		display: inline-block;
		.text {
			line-height: 19px;
		}
	}
	&.half {
		width: 50%;
		padding: 40px 32px 25px 32px;
	}
	hr {
		border-color: #ECECEC;
		+ .inner {
			padding-top: 0;
		}
	}
	.inner {
		padding: 10px 21px;
		+ hr {
			margin-top: 0;
		}
	}
}

.screen-border {
	border-top: 32px solid #E0E0E0;
	border-radius: 6px 6px 0 0;
	position: relative;
	&::before {
		content: "• • •";
		position: absolute;
		color: #B4B4B4;
		top: -32px;
		left: 12px;
		line-height: 32px;
		font-size: 37px;
		letter-spacing: -4px;
	}
	img {
		width: 100%;
	}
}

.checkbox-area {
	input[type=checkbox] {
		position: absolute;
		display: none;
		&:checked  {
			+ label .checkbox, + .checkbox {
				position: relative;
				&::after {
					border-color: #F78629;
				}
			}
		}
	}
	.checkbox {
		height: 14px;
		width: 14px;
		border-radius: 4px;
		border: 2px solid #E3E3E3;
		background-color: #FFFFFF;
		display: inline-block;
		vertical-align: middle;
		transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
		&::after {
			content: " ";
			display: block;
			position: relative;
			top: 1px;
			box-sizing: border-box;
			height: 6.23px;
			width: 10.11px;
			border: 3px solid transparent;
			border-top: 0;
			border-right: 0;
			transform: rotate(-45deg);
			transition: all .5s cubic-bezier(0.2, 1, 0.3, 1);
		}
	}
}

.cluster-id {
	border-radius: 4px;
	background-color: #A5A5A5;
	height: 32px;
	line-height: 32px;
	width: 92px;
	display: inline-block;
	color: white;
	text-align: center;
	font-weight: 600;
	&::before {
		content: "ID: ";
	}
}

.embryo-class {
	background-color: #2AC64D;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 600;
	height: 32px;
	line-height: 32px;
	width: 85px;
	margin-bottom: 0;
	text-align: center;
	display: inline-block;
	+ .cluster-id {
		margin-left: 10px;
	}
	.tooltip-top {
		height: 100%;
		width: 100%;
		display: inline-block;
	}
}

.hr-tit {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #DFDFDF;
	margin-bottom: 13px;
	margin-top: 11px;
	&::after {
		content: attr(data-content);
		position: absolute;
		display: block;
		background-color: white;
		color: #7E7E7E;
		font-size: 15px;
		line-height: 1px;
		padding-right: 15px;
	}
}

.designation-num {
	height: 104px;
	width: 70px;
	color: #C1C1C1;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	line-height: 82px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	padding: 10px 0;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	margin: 0 2px;
	position: relative;
	&.active {
		color: #F3A16A;
	}
}

.info-wrap {
	position: relative;
	.info-icon-wrapper {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-right: 8px;
	}
	.arrow-down-graph-wrapper {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 20px;
		svg {
			vertical-align: top;
		}
	}
	.info-text-wrapper {
		display: inline-block;
		position: relative;
		top: -5px;
		padding-left: 10px;
		width: calc(100% - 20px);
		max-width: 400px;
	}
	.heading {
		display: block;
		width: 100%;
		color: #4A4A4A;
		font-size: 15px;
		font-weight: 600;
		line-height: 24px;
		margin-bottom: 0;
	}
	.text {
		display: block;
		width: 100%;
		color: #6F6F6F;
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 0;
	}
	&.active {
		background-color: #F47F36;
		.arrow-down-graph-wrapper {
			filter: grayscale(1) brightness(200%);
		}
		.heading, .text {
			color: white;
		}
	}
}

/* PART 1 show */

#first-part-show {
	display: flex;
	flex-flow: column;
	.head {
		flex-grow: 0;
	}
	.full {
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		hr {
			flex-grow: 0;
		}
	}
	.wrap {
		flex-grow: 1;
		display: flex;
		flex-flow: row;
		margin-right: 70px;
		margin-left: 70px;
		.column:not(.zero) {
			flex-grow: 1;
			.bub {
				&:first-child {
					margin-bottom: 40px;
					&::after {
						height: 28.26px;
						left: 0;
						right: 42px;
						margin-top: 98px;
						border: 2px solid #C6C6C6;
						border-top: 0;
						border-left: 0;
						border-radius: 0 0 20px 0;
					}
				}
				&:nth-child(2) {
					margin-top: 40px;
					&::after {
						height: 28.26px;
						left: 0;
						right: 42px;
						margin-top: -40px;
						border: 2px solid #C6C6C6;
						border-bottom: 0;
						border-left: 0;
						border-radius: 0 20px 0;
					}
				}
			}
			&.double {
				>div{
					.bub {
						&:first-child {
							margin-bottom: 20px;
							&::after {
								margin-top: 94px;
							}
						}
						&:nth-child(2) {
							margin-top: 20px;
							&::after {
								margin-top: -21px;
							}
						}
						&::after {
							height: 11.26px;
						}
					}
					&:nth-child(2) {
						margin-top: -44px;
					}
				}
				&:last-of-type {
					flex-grow: 2;
					>div {
						&:first-child {
							width: 50%;
							align-self: flex-start;
						}
					}
				}
				&:not(:last-of-type) {
					>div {
						&:nth-child(2) {
							width: 160%;
							align-self: flex-start;
						}
					}
				}
			}
			&.half {
				padding-bottom: 162px;
				flex-grow: 3!important;
				>div {
					&:nth-child(2) {
						margin-top: -82px;
					}
				}
			}
		}
		.column {
			margin: 25px 9px 60px 9px;
			position: relative;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: flex-end;
			&.zero .bub {
				&::after {
					content: "Fertilisation";
					position: absolute;
					z-index: -1;
					color: #E0E0E0;
					font-size: 31px;
					font-weight: bold;
					letter-spacing: 0.44px;
					line-height: 42px;
					left: 50%;
					transform: translateX(-50%);
					bottom: -25px;
				}
			}
			> div {
				position: relative;
				width: 100%;
				display: flex;
				flex-flow: column;
				justify-content: center;
			}
			> span {
				position: absolute;
				bottom: 0;
				color: #E13E52;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.17px;
				line-height: 0;
				width: calc(100% - 38px);
				height: 20px;
				background-color: transparent;
				text-align: right;
				margin-right: 43px;
				align-self: flex-start;
				&::before {
					content: " ";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 10px;
					width: calc(100% - 3px);
					border-bottom: 2px solid #DE6876;
					border-right: 2px solid #DE6876;
					border-bottom-right-radius: 3px;
					background-color: transparent;
				}
				&::after {
					content: " ";
					display: inline-block;
					position: absolute;
					left: calc(100% - 5px);
					bottom: 5px;
					height: 8px;
					width: 71px;
					border-top: 2px solid #DE6876;
					border-left: 2px solid #DE6876;
					border-top-left-radius: 3px;
				}
			}
			&:first-of-type {
				> span {
					height: 10px;
					&::before {
						display: none;
					}
					&::after {
						border-left-width: 0;
						border-right-width: 0;
						bottom: 0;
						border-radius: 0;
						height: 0;
					}
				}
			}
			&:nth-of-type(3) {
				> span {
					&:first-of-type {
						margin-bottom: 11px;
					}
					&:last-of-type {
						margin-bottom: 22px;
						margin-left: 100%;
						width: calc(60% - 38px);
						&::after {
							width: 100%;
							min-width: 40px;
						}
					}
				}
			}
			&:last-of-type {
				> span {
					&:first-of-type {
						margin-bottom: 33px;
						width: calc(30% - 38px);
						margin-left: 20%;
					}
					&:last-of-type {
						margin-bottom: 44px;
						margin-left: calc(50% - 38px);
						width: 50%;
						&::after {
							width: 122px;
						}
					}
				}
			}
		}
		.high-line {
			&::before {
				background-color: #ECF6F9;
				height: 100px;
				display: block;
				width: 100px;
				margin-top: -8px;
				margin-left: -8px;
				z-index: -5;
			}
			&::after {
				border-color: #F3A16A!important;
				z-index: -1;
			}
			span {
				position: absolute;
				background-color: #ECF6F9;
				height: 100px;
				width: calc(100% - 82px);
				z-index: -5;
				left: -10px;
				top: 50%;
				transform: translateY(-50%);
				&::after {
					content: " ";
					display: inline-block;
					position: absolute;
					height: 100px;
					width: 100px;
					right: -100px;
					background-color: #ECF6F9;
					border-bottom-right-radius: 80%;
				}
			}
		}
		.column {
			&:first-of-type {
				.high-line {
					&::before {
						border-radius: 50% 0 0 50%;
					}
				}
			}
			.high-line {
				&::before {
					border-radius: 50% 0 0 0;
				}
			}
			&:last-of-type {
				.high-line {
					&::before {
						border-radius: 50% 50% 33% 0;
					}
				}
			}
		}
	}
	.highlighting {
		height: calc(100% + 86px);
		position: absolute!important;
		z-index: -6;
		margin-top: 17px;
		&::before {
			content: attr(data-highlight);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
			color: #FFFFFF;
			font-size: 12px;
			font-weight: 600;
			line-height: 22px;
		}
		&.mytcy {
			background-color: #ECF6F9;
			align-self: flex-start;
			margin-left: -61px;
			width: calc(50% + 19px)!important;
			&::before {
				background-color: #7FB3D3;
			}
		}
		&.clein {
			margin-left: -42px;
			background-color: #FCF9E8;
			align-self: flex-end;
			width: 50%!important;
			&::before {
				background-color: #F0D34B;
			}
		}
	}

	.bub {
		height: 84px;
		width: 84px;
		line-height: 84px;
		font-size: 26px;
		font-weight: bold;
		text-align: center;
		border-radius: 50%;
		margin-right: 0;
		margin-left: auto;
		box-shadow: -2px 3px 7px 0 rgba(0,0,0,0.04), -5px 19px 54px -18px rgba(0,0,0,0.3);
		&::before, &::after {
			content: " ";
			position: absolute;
			z-index: -2;
		}
		&.bub-w {
			background-color: white;
			color: #C3C3C3;
		}
		&.bub-g {
			background-color: #98DBBD;
			color: white;
		}
		&.bub-b {
			background-color: #92C7D8;
			color: white;
		}
		&.bub-y {
			background-color: #E7CF7E;
			color: white;
		}
	}
}

/* end of PART 1 */

/* CLUSTERS page */

#clusters {
	.row-item {
		min-height: 104px;
		margin-bottom: 85px;
	}
	.designation-num {
		float: left;
		&:last-of-type {
			margin-right: 28px;
		}
		+ .p {
			min-height: 104px;
			display: flex;
			align-items: center;
		}
	}
	.p p {
		margin: 0;
		color: #4A4A4A;
		font-size: 20px;
		letter-spacing: 0.29px;
		line-height: 27px;
		font-weight: 400;
		b {
			color: #F3A16A;
			font-weight: 600;
		}
	}
}

/* Implementation potencial page */

.percentage-table {
	padding: 16px 70px;
}

/* registration form */

#go-registration {
	float: right;
	position: relative;
	top: -11px;
	color: #F78629;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: right;
	max-width: 50%;
	.btn {
		margin-left: 21px;
	}
}

#registration {
	.half {
		min-width: 370px;
	}
	hr {
		margin-bottom: 46px;
	}
	.ab-bg {
		z-index: -1;
		bottom: 0;
		right: 0;
		overflow: hidden;
		top: 0;
		left: 0;
		position: absolute;
	}
	.screen-border {
		box-shadow: 0 52px 54px 0 rgba(0,0,0,0.06), 0 22px 24px 0 rgba(74,74,74,0.2);
		width: 1030px;
		position: absolute;
		top: calc(30% - 32px);
		left: 15%;
		transform: translate(50%, 10%);
		&:first-child {
			top: 30%;
			left: 10.5%;
		}
	}
}

.user-form {
	.form-group {
		margin-left: 10px;
		margin-right: 10px;
		&:nth-child(-n+3) {
			width: calc((100% - 40px) / 2);
			display: inline-block;
		}
	}
	.checkbox {
		position: relative;
		height: 20px;
		width: 20px;
		display: inline-block;
		margin-bottom: -5px;
		input {
			&:checked + span {
				border-color: #EB8446;
				background-color: #EB8446;
				&::after {
					opacity: 1;
					width: 8px;
					height: 14px;
					left: 3.5px;
					top: -1px;
					transition: all .1s;
				}
			}
		}
		span {
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			border: 2px solid #A1A1A1;
			border-radius: 2px;
			background-color: white;
			position: absolute;
			transition: all .2s ease;
			&::after {
				content: "";
				position: absolute;
				left: 7px;
				top: 6px;
				width: 0;
				height: 0;
				border: solid white;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg) scale(0.8);
			}
		}
		~ label {
			position: relative;
			cursor: pointer;
			padding-left: 7px;
		}
	}
	a {
		color: #4A4A4A;
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
	}
	label {
		color: #6F6F6F;
		font-size: 14px;
		line-height: 24px;
	}
}

/* tooltip */

[data-tooltip], .tooltip {
	position: relative;
	cursor: pointer;
}
.tooltip::before, [data-tooltip]::before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
.tooltip-netvor:after {
	background-color: #4A4A4A;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
}
[data-tooltip]::after, .tooltip::after, .tooltip-top::after {
	margin-left: -80px;
}
.tooltip::after, [data-tooltip]::after {
	z-index: 1000;
	padding: 8px;
	width: 160px;
	background-color: #000;
	background-color: rgba(51, 51, 51, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}
[data-tooltip]::before, .tooltip::before, .tooltip-top::before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: rgba(51, 51, 51, 0.9);
}
[data-tooltip]::before, [data-tooltip]::after, .tooltip::before, .tooltip::after, .tooltip-top::before, .tooltip-top::after {
	bottom: 100%;
	left: 50%;
}
[data-tooltip]::before, [data-tooltip]::after, .tooltip::before, .tooltip::after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after, [data-tooltip]:focus::before, [data-tooltip]:focus::after, .tooltip:hover::before, .tooltip:hover::after, .tooltip:focus::before, .tooltip:focus::after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
[data-tooltip]:hover::before, [data-tooltip]:hover::after, [data-tooltip]:focus::before, [data-tooltip]:focus::after, .tooltip:hover::before, .tooltip:hover::after, .tooltip:focus::before, .tooltip:focus::after, .tooltip-top:hover::before, .tooltip-top:hover::after, .tooltip-top:focus::before, .tooltip-top:focus::after {
	-webkit-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}


@include media-breakpoint-down(md) {
	.col-md-down-12 {
		width: 100%;
	}
}
