.embryos-library-container {
	#sidebar-left {
		height: auto;
		min-height: 692px;
		max-width: 243px;
		border-radius: 2px;
		background-color: #FFFFFF;
		box-shadow: 0 5px 20px 0 rgba(210,210,210,0.5), 0 2px 4px 0 rgba(178,178,178,0.5);
		color: #4A4A4A;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 23px;
		padding-bottom: 25px;
		margin-bottom: 200px;
		.node {
			background-color: #FFFFFF;
			height: 46px;
			line-height: 46px;
			text-align: left;
			padding: 0 0 0 25px;
			margin: 0;
			max-width: 100%;
			&.sidebar-header {
				padding: 0;
				max-width: 100%;
				text-align: center;
				border-bottom: 1px solid #ECECEC;
			}
		}
		.tree-view_children {
			margin-left: 0;
		}
		.tree-view_arrow {
			display: none !important;
		}
		.info {
			border-radius: 4px;
			color: #FFFFFF;
			font-size: 15px;
			font-weight: 600;
			height: 32px;
			line-height: 32px;
			width: 85px;
			margin-bottom: 4px;
			text-align: center;
			margin-left: 25px;
			display: inline-block;
			cursor: pointer;
			span {
				display: table;
				margin: 0 auto;
			}
		}
		.sexy-checkbox-radio-wrapper .checkbox-primary {
			display: inline-block;
			position: relative;
			input[type="checkbox"] {
				& + label {
					cursor: pointer;
					&:before {
						border: 2px solid #E3E3E3;
						border-radius: 4px;
						background-color: white;
					}
				}
				&:checked + label:after {
					color: #61B945;
					left: 1px;
					top: -3px;
					padding-left: 0;
					padding-top: 0;
					font-size: 15px;
				}
			}
		}
		.sexy-checkbox-radio-wrapper .checkbox-primary.checkbox-node  {
			top: 50%;
			transform: translateY(-50%);
			input[type="checkbox"]:checked + label:after {
				//top: -14px;
			}
		}
	}
}
