<link n:block="head" rel="stylesheet" href="{webpack tutorial.css}" crossorigin="anonymous">
<script n:block="scripts" src="{webpack tutorial.js}" crossorigin="anonymous"></script>

{block content}
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<main class="container-fluid" id="root"></main>
