{layout ../@login.latte}

<a n:block="footerLink" n:href="Login:">Back to Login</a>

{block header /}

{block content}
<h1>
	<a n:href="Homepage:">
		<img src="{$basePath}/img/ESC_logo_orange.svg" alt="Embryo Score &amp; Compare">
	</a>
</h1>
<div class="password-form-container form-container">
	{include flashes flashes => $flashes}
	<h2>Set your new password</h2>
	<form class="user-form" n:name="resetPasswordForm">
		{include formErrors form => $form}

		<div class="form-group margin-t margin-b">
			<input n:name="password" n:class="$form[password]->hasErrors() ? is-invalid" placeholder="New password">
			{label password /}
			{include errors input => $form[password]}
		</div>

		<div class="form-group margin-t margin-b">
			<input n:name="passwordConfirm" n:class="$form[passwordConfirm]->hasErrors() ? is-invalid" placeholder="New password (again)">
			{label passwordConfirm /}
			{include errors input => $form[passwordConfirm]}
		</div>
		<button class="btn" type="submit" n:name="submit">Confirm</button>
	</form>
</div>
