.embryos-header {
	display: block;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	color: #7E7E7E;
	font-family: "Open Sans";
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
	& > span {
		position: relative;
		display: inline-block;
	}
	& > span:after {
		content: "";
		position: absolute;
		top: 50%;
		width: 9999px;
		height: 1px;
		background: #D7D7D7;
		left: 100%;
		margin-left: 15px;
	}
}

.embryos-row {
	border-radius: 4px;
	margin-bottom: 27px;
	background-color: #FFFFFF;
	max-width: 1349px;
	box-shadow: 0 2px 4px 0 rgba(178,178,178,0.5);
}

.embryos-header {
	max-width: 1349px;
}

.Embryo-block {
	&.select-embryo {
		border-color: transparent;
		box-shadow: 0 5px 20px 0 rgba(170,170,170,0.5);
		transform: translate(0, -7px);
		&:after, &:before {
			position: absolute;
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			pointer-events: none;
		}
		&:after {
			border-top-color: white;
			border-width: 16px 20px 0 20px;
		}
	}
}

.row-top-bar-container {
	display: block;
	width: 100%;
}

.embryos-row-cluster-container {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ECECEC;
	padding-left: 13px;
	&.embryos-detail {
		height: auto;
		padding: 5px 0 15px 0;
	}
	h3 {
		height: 50px;
		line-height: 50px;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: bold;
	}
}

.embryos-row-cluster-inner-container {
	position: relative;
	padding-bottom: 30px;
	&:after {
		content: "";
		float: left;
		background: #00a75d;
		width: 4px;
		height: 100%;
		min-height: 6px;
		border-radius: 6px;
		left: -16px;
		top: -5px;
		margin-top: 5px;
		display: inline-block;
		position: absolute;
	}
}

.separator {
	height: 1px;
	color: #ECECEC;
}

.cluster-id {
	background-color: #A5A5A5;
	border-radius: 13px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 600;
	line-height: 26px;
	height: 26px;
	width: 85px;
	text-align: center;
	display: inline-block;
	margin: 0;
	margin-top: 10px;
	&::before {
		content: "ID: "
	}
}
