
.training-path-container {
	height: 188px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	h1.path {
		margin-top: 30px;
		left: 100px;
		top: 0;
		color: #484848;
		font-family: "Open Sans";
		font-size: 39px;
		font-weight: 300;
		line-height: 53px;
		position: absolute;
	}

	.levels-wrapper {
		margin-top: 115px;
			.active-column .level-container {
				 h2 {
					font-weight: 600;
					color: #E37526;
					opacity: 1;
					& + p {
						opacity: 1;
					}
				}
			}

			/*
			.active-column ~ .col {
				.level-container .done-circle-wrapper {
					display: none;
				}
			}
			.active-column .level-container .done-circle-wrapper {
				display: none;
			}
			*/

		.level-container {
				cursor: pointer;
			&.last h2 span:after {
				content: none;
			}
			.done-circle-wrapper {
				display: inline-block;
				position: absolute;
				display: inline-block;
				svg {
					position: relative;
					left: 7px;
				}
			}
			h2 {
				color: rgba(79, 79, 79, 0.5);
				font-family: "Open Sans";
				font-size: 24px;
				margin-bottom: 0;
				text-align: center;
				span {
					display: inline-block;
					position: relative;
					width: 100%;
					&:after {
						content: "";
						position: absolute;
						height: 4px;
						top: 12px;
						width: 207px;
						border-radius: 3px;
						opacity: 1;
						background-color: #DDDDDD;
						margin-left: 30px;
						background-size: 207px 4px;
						background-repeat: no-repeat;
					}
				}
				span.animating:after {
					background-image: linear-gradient(to right, #F3A16A 207px, #DDDDDD 0px);
					animation: move 3s linear;
				}
				span.seen:after {
					background-color: #F3A16A;
				}
			}
			p {
				opacity: 0.7;
				color: #A1A1A1;
				font-family: "Open Sans";
				font-size: 14px;
				line-height: 24px;
				text-align: center;
			}
		}
	}
}

@keyframes move {
    0% { background-position: -207px 0px }
    100% { background-position: 0px 0px }
}
