nav.evaluation-nav {
	background-color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
		li {
			text-align: center;
			list-style: none;
			display: inline-block;
			width: 20%;
			padding: 0 12px;
			border-bottom: 3px solid #dddddd;
			a {
				border-bottom: 3px solid transparent;
				color: #9C9C9C;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 600;
				line-height: 23px;
				padding: 12px 0;
				display: block;
				position: relative;
				&.done {
					&::after {
						content: " ";
						position: absolute;
						top: 20px;
						margin-left: 8px;
						height: 4.69px;
						width: 7.92px;
						border-width: 0 0 2px 2px;
						border-style: solid;
						border-color: #61B945;
						transform: rotate(-45deg);
					}
				}
				&:hover {
					color: #E37526;
					text-decoration: none;
				}
			}
			&.active {
				border-color: #E37526;
				a {
					color: #E37526;
				}
			}
		}
	}
}
