.data-chart-container {
	height: 160px;
	padding-top: 15px;
	overflow: hidden;
	svg:not(:root) {
		overflow: visible;
	}
}

.recharts-text:first-child {
	text-anchor: start;
}

.recharts-text, .recharts-label {
	text-anchor: end;
}

.images-chart-container {
	margin-bottom: 0 !important;
}
