$normal: #4DDD89;
$collapses: #F9CA20;
$low: #956F1D;
$degenerated: #E85B5F;
$delayed: #FFBD77;

.normal-bg {
	background-color: $normal;
}

.collapses-bg {
	background-color: $collapses;
}

.low-bg {
	background-color: $low;
}

.degenerated-bg {
	background-color: $degenerated;
}

.delayed-bg {
	background-color: $delayed;
}

table {
	width: 100%;
	tr {
		&.has-category-title td {
			padding-top: 35px;
		}
		th {
			width: 199px;
			max-width: 199px;
			word-wrap: break-word;
			color: #FFFFFF;
			font-family: "Open Sans";
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			text-align: center;
			&:first-of-type {
				color: #C1C1C1;
				font-size: 18px;
				line-height: 24px;
				font-weight: normal;
			}
			div {
				border-radius: 4px 4px 0 0;
				height: 47px;
				line-height: 47px;
			}

			&.stage-of-dev-th {
				color: #A1A1A1;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 600;
				line-height: 19px;
				text-align: left;
			}
			&.normal div {
				background-color: $normal;
				box-shadow: 0 2px 4px 0 rgba(77,221,137,0.5);
			}
			&.collapses div {
				background-color: $collapses;
				box-shadow: 0 2px 4px 0 rgba(249,202,32,0.5);
			}
			&.low div {
				background-color: $low;
				box-shadow: 0 2px 4px 0 rgba(149,111,29,0.5);
			}
			&.degenerated div {
				background-color: $degenerated;
				box-shadow: 0 2px 4px 0 rgba(232,91,95,0.5);
			}
		}
		td {
			border: 1px solid #ececec;
			width: 199px;
			max-width: 199px;
			word-wrap: break-word;
			&:first-of-type {
				border: none;
				// width: auto; better results on laptop screen, TO-DO test on large screen
				text-align: left;
				color: #4A4A4A;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 600;
				line-height: 22px;
				padding-left: 95px;
				padding-top: 0;
				position: relative;
				.stage-key {
					color: #4A4A4A;
					font-family: "Open Sans";
					font-size: 58px;
					line-height: 79px;
					text-align: center;
					display: inline-block;
					width: 20%;
					position: relative;
					top: 7px;
					line-height: 80px;
				}
				.development-stagename {
					color: #4A4A4A;
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 600;
					line-height: 22px;
					display: inline-block;
					width: 80%;
					position: relative;
					margin: 0;
					padding-left: 10px;
					padding-right: 10px;
					height: 60px;
					vertical-align: middle;
				}
				.desc {
					display: none; // no space for it
					color: #A1A1A1;
					font-size: 14px;
					line-height: 19px;
					font-weight: normal;
				}
			}

			.category-title {
				display: block;
				color: white;
				background-color: black;
				width: 161px;
				max-width: 100%;
				height: 30px;
				margin: -31px auto 0 auto;
				border-radius: 2px;
				line-height: 30px;
				font-size: 15px;
				font-weight: 600;
			}

			.embryo {
				cursor: pointer;
				height: 101px;
				width: 60px;
				padding-top: 70px;
				margin: 11px auto;
				display: inline-block;
				position: relative;
				&:hover .pseudo-tooltip {
					display: block;
					z-index: 10;
				}
				& + .embryo {
					margin-left: 5px;
				}
				.img {
					border-radius: 4px 4px 0 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					height: 70px;
					display: block;
					left: 0;
					width: 100%;
					background-color: lightgray;
					img {
						height: 70px;
						border-radius: 4px 4px 0 0;
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				.text {
					color: #FFFFFF;
					background-color: black;
					font-family: "Open Sans";
					font-size: 22px;
					font-weight: 600;
					letter-spacing: 1px;
					line-height: 30px;
					text-align: center;
					text-transform: uppercase;
					border-radius: 0 0 4px 4px;
					cursor: default;
				}
			}

			.normal .text,
			.category-title.normal {
				background-color: $normal;
				box-shadow: 0 2px 4px 0 rgba(77,221,137,0.5);
			}
			.category-title.delayed,
			.embryo.delayed .text {
				background-color: $delayed;
				box-shadow: 0 2px 4px 0 rgba(255,189,119,0.5);
			}
			.category-title.collapses,
			.embryo.collapses .text {
				background-color: $collapses;
				box-shadow: 0 2px 4px 0 rgba(249,202,32,0.5);
			}
			.category-title.low,
			.embryo.low .text {
				background-color: $low;
				box-shadow: 0 2px 4px 0 rgba(149,111,29,0.5);
			}
			.category-title.degenerated,
			.embryo.degenerated .text {
				background-color: $degenerated;
				box-shadow: 0 2px 4px 0 rgba(232,91,95,0.5);
			}
		}
		.tr {
			&-tit {
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				position: absolute;
				height: 80px;
				width: 80px;
				float: left;
				border-radius: 50%;
				border: 4px solid #dfdfdf;
				background-size: 100%;
				color: white;
				text-align: center;
				font-size: 50px;
				font-weight: 600;
				line-height: 73px;
			}
			&-1 {
				background-image: url(../../../../img/learning/1.png);
			}
			&-2 {
				background-image: url(../../../../img/learning/2.png);
			}
			&-3 {
				background-image: url(../../../../img/learning/3.png);
			}
			&-4 {
				background-image: url(../../../../img/learning/4.png);
			}
			&-5 {
				background-image: url(../../../../img/learning/5.png);
			}
			&-6 {
				background-image: url(../../../../img/learning/6.png);
			}
			&-7 {
				background-image: url(../../../../img/learning/7.png);
			}
			&-8 {
				background-image: url(../../../../img/learning/8.png);
			}
		}
		.tr-grey-tit {
			width: 100%;
			height: 100%;
			background-color: #EFEFEF;
			border-radius: 6px 0 0 6px;
			border: 1px solid white;
			border-right: 0;
			padding: 0 7px;
			position: relative;
			span {
				font-weight: 600;
				&:first-child {
					color: #B8B8B8;
					font-size: 38px;
					line-height: 75px;
					float: left;
					margin-right: 7px;
				}
				&:last-child {
					color: #4A4A4A;
					font-size: 12px;
					line-height: 17px;
					top: 50%;
					transform: translateY(-50%);
					position: absolute;
				}
			}
		}
	}
}

.pseudo-tooltip {
	display: none;
	position: absolute;
	left: -20px;
	bottom: 100%;
	width: 176px;
	border-radius: 3px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);

	p.cluster-name {
		text-transform: uppercase;
	}

	img {
		width: 176px;
	}

	.impl-chance {
		height: 35px;
		box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		&:before,
		&:after {
			top: 100%;
			left: 40px;
			border-style: solid;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			transform: rotate(180deg);
		}
		&:after {
			border-width: 10px;
		}

		&.normal-bg {
			&:after,
			&:before {
				border-bottom-color:  $normal;
			}
		}

		&.collapses-bg {
			&:after,
			&:before {
				border-bottom-color:  $collapses;
			}
		}

		&.low-bg {
			&:after,
			&:before {
				border-bottom-color:  $low;
			}
		}

		&.degenerated-bg {
			&:after,
			&:before {
				border-bottom-color:  $degenerated;
			}
		}

		&.delayed-bg {
			&:after,
			&:before {
				border-bottom-color: $delayed;
			}
		}

		p {
			line-height: 35px;
			width: 100%;
			color: #FFFFFF;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: bold;
			text-align: center;
		}
	}
} // end of .pseudo-tooptip
