section#introduction {
	.designation-num {
		width: auto;
		padding: 10px 19px;
	}
	.content-box {
		margin: 35px 70px 0 70px;
		border: 2px solid #ECECEC;
		border-radius: 0 0 4px 4px;
		border-top: 0;
		position: relative;
		min-height: 242px;
		z-index: 10;
		background-color: white;
		&:before {
			content: " ";
			height: 6px;
			background-color: #5CC6C6;
			border-radius: 4px 4px 0 0;
			display: block;
			position: absolute;
			top: -6px;
			left: -2px;
			right: -2px;
		}
		img {
			float: right;
			border-radius: 4px;
			margin-left: 20px;
		}
		h3 {
			color: #4F4F4F;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
			text-align: left;
			&.blue-list {
				padding-left: 18px;
				position: relative;
				margin-bottom: 5px;
				&::before {
					content: " ";
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					height: 4px;
					width: 10px;
					border-radius: 2px;
					background-color: #5CC6C6;
				}
			}
		}
		p {
			color: #6F6F6F;
			font-family: "Open Sans";
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			text-align: left;
		}
		.number-bg {
			color: #E9E9E9;
			font-family: "Open Sans";
			font-size: 140px;
			font-weight: bold;
			letter-spacing: 3px;
			line-height: 191px;
			position: absolute;
			top: 26px;
			left: -48px;
			&-blurred {
				filter: blur(3px);
				opacity: 0.6;
			}
		}
		.inside {
			background-color: white;
			min-height: 200px;
			text-align: left;
			z-index: 10;
		}
		.half-box {
			max-width: 300px;
			float: left;
		}
	}
	#cati-grading {
		padding: 63px 0 85px;
		p {
			max-width: 430px;
			margin: 0 auto;
		}
		img {
			margin-bottom: 15px;
		}
	}
}
