
section#what-we-want-section {
	background-color: #F6F6F6;
	h2 {
		font-size: 20px;
		font-weight: bold;
		line-height: 27px;
		color: $primary-orange;
	}
	.boxes {
		display: inline-table;
		border-spacing: 10px;
		.box {
			display: block;
			width: 300px;
			height: auto;
			margin: 25px auto;
			background-color: transparent;
			box-shadow: none;
			border-radius: 4px;
			padding: 0 20px 21px 20px;
			text-align: left;
			position: relative;
			transition: all 0.5s ease;
			&:hover {
				transform: translate(0,-10px);
			}
			.img {
				height: 90px;
				position: relative;
				width: 100%;
			}
			.title {
				width: 100%;
				height: 54px;
				display: table;
				border-spacing: 0;
				margin-bottom: 10px;
				h2 {
					display: table-cell;
					vertical-align: bottom;
				}
			}
			.text {
				width: 100%;
				p {
					font-weight: normal;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	section#what-we-want-section {
		.boxes {
			.box {
				.title {
					text-align: center;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	section#what-we-want-section {
		.boxes {
			border-spacing: 50px;
			.box {
				display: table-cell;
				max-width: 300px;
				margin: 25px;
				height: 377px;
				width: 33%;
				background-color: #FFFFFF;
				box-shadow: 0 4px 10px 0 rgba(0,0,0,0.05);
				.img {
					height: 131px;
				}
			}
		}
	}
}
