@import 'carousel';

section#what-we-do-section {
	background-color: white;
	.nav-molecules-reset {
		display: block;
		position: inherit;
	}
	.tab-content {
		p {
			min-height: 100px;
			margin-bottom: 0;
		}
	}
	a.embryo {
		margin: 0 auto;
		width: auto;
		height: 100px;
		position: relative;
		border-radius: 50%;
		display: block;
		transition: all 0.15s;
		cursor: pointer;
		display: inline-block;
		padding: 15px 0;
		&:hover,
		&.active {
			h2 {
				color: #484848;
			}
			.svg-wrapper svg g {
				fill: #F78629;
			}
		}
		&:hover {
			text-decoration: none;
			.embryo-bg-1 {
				transform: scale(1.04) rotate(30deg) translateX(4px) translateY(-5px) skewX(24deg) skewY(-30deg);
			}
			.embryo-bg-2 {
				transform: perspective(100px) rotate(-26deg) translateX(3px) translateY(-4px) skewX(-10deg) skewY(25deg);
			}
			.embryo-bg-3 {
				transform: rotateZ(15deg) rotate(-14deg) translateX(-3px) translateY(3px) skewX(-17deg) skewY(-10deg);
			}
			.embryo-bg-4 {
				transform: scale(1.04) rotate(20deg) translateX(4px) translateY(-5px) skewX(24deg) skewY(-30deg);
			}
			object.icon {
				fill:red !important;
				svg g {
					fill:red !important;
				}
			}
		}
		h2 {
			position: relative;
			font-size: 15px;
			font-weight: 600;
			line-height: 20px;
			color: #C8C8C8;
			width: 130px;
			margin-top: 5px;
			transition: color .25s ease-in-out;
		}
		object.icon {
			display: block;
			position: relative;
			background: no-repeat center;
			margin: 0 auto;
			pointer-events: none;
		}
		.embryo-bg {
			display: none;
			transition: all 1s ease-out;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			position: absolute;
			background-repeat: no-repeat;
			background-size: 100%;
			&-1 {
				background-image: url(./img/buble_1.svg);
			}
			&-2 {
				background-image: url(./img/buble_2.svg);
			}
			&-3 {
				background-image: url(./img/buble_3.svg);
			}
			&-4 {
				background-image: url(./img/buble_4.svg);
			}
		}
		.svg-wrapper.centered-v-h.absolute {
			transform: none;
			position: initial;
		}
		.svg-wrapper svg g {
			transition: fill .25s ease-in-out;
		}
	} // end of a.embryo
	.embryo-content {
		display: none;
		max-width: 700px;
		&.active {
			display: block;
		}
	}
	.btn {
		margin-top: 85px;
	}
	.apple-monitor img {
		display: block;
		margin: 0 auto;
	}
	h1 {
		margin-bottom: 47px;
	}
	h2 {
		color: #4A4A4A;
		font-family: "Open Sans", sans-serif;
		font-size: 23px;
		font-weight: 600;
		line-height: 32px;
	}
	h3 {
		margin-bottom: 47px;
		color: #4A4A4A;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
	}
	.tab-content {
		margin-top: 30px;
	}
	.carousel-container .carousel .slick-dots {
		bottom: -180px;
	}
} // end of section#what-we-do-section

@include media-breakpoint-only(md) {
	section#what-we-do-section {
		a.embryo {
			height: 180px;
			width: 198px;
			&.e-1, &.e-4 {
				float: right;
			}
			&.e-2, &.e-3 {
				float: left;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	section#what-we-do-section {
		.tab-content {
			margin-top: 0;
			p {
				min-height: 130px;
			}
		}
		a.embryo {
			display: block;
			padding: 0;
			.embryo-bg {
				display: block;
			}
			.svg-wrapper.centered-v-h.absolute {
				transform: translate(-50%, -50%);
				position: absolute;
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	section#what-we-do-section {
		a.embryo {
			height: 200px;
			width: 220px;
			&.e-1, &.e-4 {
				margin-top: 40px;
			}
		}
		.tab-content {
			p {
				min-height: 100px;
			}
		}
	}
}
