.embryo-images {
	position: relative;

	.bg-img {
		float: left;
		width: 14.2857%;
		height: 0;
		padding-bottom: 14.2857%;
		overflow: hidden;
		opacity: .4;
		background-size: auto 100%;

		&.active {
			position: absolute;
			float: none;
			z-index: 999;
			top: 0;
			opacity: 1;
		}
	}
}
